{% extends 'base.html' %}

{% block content %}
        <section id="catalogPage">
 <h1>About Page</h1>
  <p>Welcome to our website! Here you can find information about the Web Basics Practice course.</p>
  <div class="card-box">
    <div class="info-item">
      <span class="info-label">Developer:</span>
      <span class="info-value">Milen Palachorov</span>
    </div>
    <div class="info-item">
      <span class="info-label">Info:</span>
      <span class="info-value">Used the template provided from SoftUni organization for completing the Web Basics Practice</span>
    </div>
    <div class="info-item">
      <span class="info-label">Date:</span>
      <span class="info-value">June 2023</span>
    </div>
  </div>
            </section>
{% endblock %}